.display {
  margin: 10px;
  width: 175px;
  font-size: 25px;
}
.input {
  max-width: 160px;
  min-height: 35px;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  outline: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 17px #c8c8c8, -5px -5px 17px #ffffff;
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:focus {
  background: #e8e8e8;
  box-shadow: inset 5px 5px 17px #c8c8c8, inset -5px -5px 17px #ffffff;
}
